<section>
	<h2>The Model App</h2>
	<% if user_signed_in? %>
	<div class="btn-group" role="group">
		<%= button_to 'Start a New Club', new_user_club_path, method: :get, type: "button", class: "btn btn-secondary" %>
		<%= button_to "All Your Clubs", user_clubs_path, method: :get, type: "button", class: "btn btn-secondary" %>
	</div>

	<% @users_clubs.each do |club| %>
	<li>
		<%= link_to(club.name, controller: :clubs, action: :show, id: club.id, type: :button) %>
	</li>
	<% end %>
	<p>Cool stuff should be here eventually</p>
	<%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-lg btn-primary btn-block"  %>

	<% else %>
	<%# TODO not sure if this is necessary or will work, aim is to have a single page %>
		<%= render "devise/sessions/new.html.erb" %>
	<% end %>
</section>